
header {
    background-color: #fffdfda5;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Menu */

#toggleMenu {
    font-size: 1.5rem;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
    position:inherit;

}
  
#menu {
    background-color: #fff;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #df2c2c;
    border-radius: 6px;
    font-size: .825rem;
}
  
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
  
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.2s;
    gap: 20px;
}

.menu button:hover {
    transform: scale(1.1);
}
  
.menu ul li a {
    color: #df2c2cc9;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    display: inline-block;
}

/* Search */

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-bar input {
    padding: 5px 5px;
    margin: 0 7px;
    font-size: .825rem;
    border: 1px solid #df2c2c;
    border-radius: 8px;
    float: left;
    width: 250px;
}

.search-bar i {
    cursor: pointer;
}


